@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body { font-Family: 'bangers';
  line-height: 1.4; 
  background-color: #72A0C1; 
  width: 600px;
  margin: auto; 
}

Form { 
  background: rgb(147, 5, 5, 0.2);
  padding: 2.5rem 2.5rem;
  border-radius: 2rem;
  width: 500px;
  margin: auto;
}

.submit-button {
  width: 100%;
  padding: .75rem;
  Background: green;
  color: white;
  border-radius: 10px;
  curser: pointer;
}

.input-headings {
  Margin: 0 auto 1.25rem auto;
  padding: 0.25 rem;
}
.form-inputs{
  display: block;
  width: 90%;
  height: 2rem;
  padding: 0.2rem 0.75rem;
  background-color: #fff;
  border: 1px solid;
  border-radius: 0.25rem
}